.link:hover {
    background-color: #EF6079FF;
}
.more:hover {
    background-color: #EF6079FF;
}
.more {
    width: 100px;
}
.border-right-1 {
    border-right: 1px solid black;
}
.slider-item {
    overflow: inherit;
}
@media only screen and (max-width: 1200px) {
    .slider-container {
        flex-wrap: wrap;
    }
    .slider-item {
        width: 100%;
    }
}