.hello {
    position: relative;
    .name {
        text-decoration: underline;
    }
    .chevron {
        position: absolute;
        animation: slidedown 2s infinite;
    }
    // .hello-text {
    //     padding: 0;
    // }
}
@keyframes slidedown {
    0% {
        transform: translateY(0%);
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateY(160%);
        opacity: 0;
    }
}
@media only screen and (max-width: 1400px) {
    .hello-text {
        font-size: 100px;
    }
}
@media only screen and (max-width: 1130px) {
    .hello-text {
        font-size: 80px;
    }
}
@media only screen and (max-width: 800px) {
    .hello-text {
        padding-top: 30vh !important;
        font-size: 50px;
        padding: 0;
    }
    .hello {
        display: flex;
        // align-items: center;
        justify-content: center;
        padding: 20%;
    }
}