@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(locomotive.css);
body {
  background: #100f0f;
  width: 100vw;
}
[data-scroll-container],
[data-scroll-section] {
  transform-style: preserve-3d;
  will-change: transform;
}

/* isMobile: window.innerWidth <= 480,
isTablet: window.innerWidth > 480 && window.innerWidth <= 1025,
isDesktop: window.innerWidth > 1025, */
.container {
  width: 100%;
  /* padding: 0px 16px; */
}
.container-left-gap {
  padding-left: 0px;
}
.container-right-gap {
  padding-right: 0px;
}

@media screen and (min-width: 480px) and (max-width: 1025px) {
  .container {
    width: 100%;
    padding: 0px 32px;
  }
  .container-left-gap {
    padding-left: 32px;
  }
  .container-right-gap {
    padding-right: 32px;
  }
}
@media screen and (min-width: 1025px) {
  .container {
    width: 1025px;
    margin: auto;
  }
  .container-left-gap {
    padding-left: calc((100vw - 1025px) / 2);
  }
  .container-right-gap {
    padding-right: calc((100vw - 1025px) / 2);
  }
}

.text-primary {
  color: #01c36a;
}
.text-secondary {
  color: #ffffff;
}
.text-tertiary {
  color: #100f0f;
}
.text-quaternary {
  color: #dadada;
}

.bg-default {
  background-color: #100f0f;
}

.bg-primary {
  background-color: #191919;
}
.bg-secondary {
  background-color: #262626;
}

.bg-tertiary {
  background-color: #01c36a;
}

.bg-quaternary {
  background-color: #dadada;
}
.font-oswald {
  font-family: "Oswald", sans-serif;
}
.font-inter {
  font-family: "Inter", sans-serif;
}
.font-raleway {
  font-family: "Raleway", sans-serif;
}
#blob {
  height: 300px;
  aspect-ratio: 1;
  background: linear-gradient(to right, #01c36a, purple);
  position: absolute;
  left: 50%;
  z-index: -1;

  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  animation: rotate 20s infinite;
}
#blur {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  backdrop-filter: blur(100px);
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes rotate {
  from {
    rotate: 0;
  }
  50% {
    scale: 1 1.5;
  }
  to {
    rotate: 360deg;
  }
}

.logos-slide {
  display: inline-block;
  animation: 8s slide infinite linear;
}
/* .logos:hover .logos-slide {
  animation-play-state: paused;
} */
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
