.things {
    padding-left: 180px;
    li {
        padding: 8px;
    }
}
.side {
    transition: 1s;
}
.zero {
    width: 0px;
    overflow: hidden;
}
@media only screen and (max-width: 2000px) {
    .things {
        padding-left: 50px;
    }
}
@media only screen and (max-width: 900px) {
    .side {
        // display: none;
        // width: 0;
    }
}