.nav {
    right: 10px;
    top: 10px;
    order: 3;
}
.line {
    width: 25px;
    height: 4px;
    border-radius: 2px;
    margin: 2px;
    transition: 1s;
}
.dissappear {
    // display: none;
    opacity: 0;
    width: 30px;

}
.rotate-left {
    transform: rotate(-45deg) translate(15%, -130%) scale(1.2);
    width: 30px;
    // transform-origin: 10%;
}
.rotate-right {
    transform: rotate(45deg) translate(20%, 140%) scale(1.2);
    width: 30px;
    // transform-origin: -5%;
}
@media only screen and (min-width: 1000px) {
    .nav {
        display: none;
    }
} 